<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to '/ Albums', albums_path  %></li>
      <li><%= link_to '/ New album', new_album_path %></li>
      <li class="active"><%= link_to '/ Current album', album_path %></li>
       <li><%= link_to "/ Add Photo", new_album_photo_path(@album) if current_user %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b>Album title:</b>
          <%= @album.title %>
        </p>


        <table class="table">
          <tr>             
            <th class="first"></th>
            <th>Photo</th>
            <th>Title</th>
            <th>Created at</th>
            <th class="last">&nbsp;</th>
          </tr>
          <% for photo in @album.photos -%>
          <tr>
            <td>
              <%= %>
            </td>
            <td>
              <%= link_to image_tag(photo.public_filename(:thumb)), photo %>
            </td>
            <td>
              <%= photo.title -%>
            </td>
            <td>
              <%= photo.created_at %>
            </td>
            <td class="last">
              <%= link_to 'show', album_path(@album) %> |
              <%= link_to 'edit', edit_album_path(@album) %> |
              <%= link_to "Delete image", photo, :confirm => "Are you sure?", :method => :delete if photo.has_access?(current_user) %>
            </td>
          </tr>
          <% end -%>
        </table>
        
      </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>