<!DOCTYPE html PUBLIC "-//WC3//DTD XHTML 1.0 STRICT//EN"
  "http://www.w3.org/1999/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhml" xml:lang="en" lang="en-US">

<head>
  <title><%= @page_title || "Upload Photons and quarks here (max size 1MB)" %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

  <%= stylesheet_link_tag "base" %>

</head>

  <body>


    <% flash.each do |key, value| %>
    <div id="flash" class="flash_<%= key %>" >
      <span class="message"><%= value %></span>
    </div>
    <% end -%>

    <%= yield :layout %>


    </div>
  </body>
<html>