<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Photastic! Upload you Photos/images here!</title>
	<%= stylesheet_link_tag 'web_app_theme', "themes/default/style" %>
</head>
<body>
  <div id="container">
    <div id="header">
      
      <a href="index"><%= link_to image_tag("/images/loggan.png", :border => 0), albums_path %></a>
      <div id="user-navigation">
          <%= render(:partial => "/users/user_bar" ) %>
        <div class="clear"></div>
      </div>
      <div id="main-navigation">
        <ul></ul>
        <div class="clear"></div>
      </div>
    </div>
    <div id="wrapper">
      <div id="main">
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div> 
        <% end -%>
        <% if flash[:error] -%>
          <div id="error"><%= flash[:error] %></div> 
        <% end -%>

        <%= yield %>
        <div class="clear"></div> 
        <div id="footer">
          <div class="block">
            <p> 2009 Photastic</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>
