<!DOCTYPE html PUBLIC "-//WC3//DTD XHTML 1.0 STRICT//EN"
  "http://www.w3.org/1999/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhml" xml:lang="en" lang="en-US">

<head>
  <title><%= @page_title || "Welcome to Photastic!" %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "base" %>
  <%= stylesheet_link_tag "test" %>
</head>

  <body>



    <div class="container">
    <div class="mattblacktabs">
    <ul>
    <li><%= link_to "/photos", photos_path %></li>
    <li><%= link_to "/albums", albums_path %></li>
    <li><%= link_to "/users", users_path %></li>
    </ul>
    </div>
    <br />
      <br />
      
      <% flash.each do |key, value| %>
        <div id="flash" class="flash_<%= key %>" >
          <span class="message"><%= value %></span>
        </div>
      <% end -%>
      
        <br />
        <div id="content">
        <%= yield :layout %>
        </div>
      </div>
    </div>
  </body>
<html>